<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
	<suite name="GRID TEST" parallel="tests" thread-count="3">

	    <test name="GRID TEST WITH BROWSER FF">

	    <parameter name ="browserType" value="firefox"/>

	        <classes>

	            <class name ="com.training.day4.seleniumgrid.SeleniumGridTests"/>

	        </classes>

	    </test>

	    <test name="GRID TEST WITH  BROWSER IE">

	    <parameter name ="browserType" value="internet explorer"/>

           <classes>

	            <class name ="com.training.day4.seleniumgrid.SeleniumGridTests"/>

	        </classes>

	    </test>
	    
	    <test name="GRID TEST WITH  BROWSER CHROME">

	    <parameter name ="browserType" value="chrome"/>

           <classes>

	            <class name ="com.training.day4.seleniumgrid.SeleniumGridTests"/>

	        </classes>

	    </test>

	</suite>
